* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif", serif;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.header {
    padding: 20px;
    background-color: #ced4da;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
}

.title {
    font-size: 60px;
    font-weight: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.nav-links {
    background: #6c757d;
    text-align: center;
    cursor: pointer;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 12px 15px;
    position: relative;
    border-radius: 30px;
    font-weight: 600;
}

.nav-links ul li:hover {
    background: #14213d;
    border-radius: 30px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
}

.banner {
    width: 100%;
    min-height: 80vh;
    background: url("media/banner/j4.avif") no-repeat;
    background-size: cover;
    position: relative;
}

.text-block {
    width: 80%;
    color: white;
    position: absolute;
    top: 38%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
}

.text-block h1 {
    font-size: 45px;
}

.text-block p {
    font-size: 18px;
}
.text-block2 {
    width: 80%;
    color: white;
    position: absolute;
    top: 10%;
    left: 44%;
    text-align: left;
    transform: translate(-50%, -50%);
}

.text-block2 h1 {
    font-size: 45px;
}

.text-block3 {
    width: 80%;
    color: white;
    position: absolute;
    top: 21%;
    left: 89%;
    text-align: left;
    transform: translate(-50%, -50%);
}

.text-block3 h1 {
    font-size: 45px;
}

.text-block4 {
    width: 80%;
    color: white;
    position: absolute;
    top: 26%;
    left: 63%;
    text-align: left;
    transform: translate(-50%, -50%);
}

.text-block4 h1 {
    font-size: 45px;
}

.text-block4 p {
    font-size: 18px;
}

.text-block5 {
    width: 80%;
    color: white;
    position: absolute;
    top: 36%;
    left: 60%;
    text-align: left;
    transform: translate(-50%, -50%);
}

.text-block5 h1 {
    font-size: 45px;
}

.text-block5 p {
    font-size: 18px;
}

.text-block6 {
    width: 80%;
    color: white;
    position: absolute;
    top: 36%;
    left: 68%;
    text-align: left;
    transform: translate(-50%, -50%);
}

.text-block6 h1 {
    font-size: 45px;
}

.text-block6 p {
    font-size: 18px;
}

.text-block7 {
    width: 80%;
    color: wheat;
    position: absolute;
    top: 30%;
    left: 65%;
    text-align: left;
    transform: translate(-50%, -50%);
}

.text-block7 h1 {
    font-size: 45px;
}

.text-block7 p {
    font-size: 18px;
}

.btn-primary {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 40px;
    font-size: 15px;
    background: transparent;
    position: relative;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
}

.btn-primary:hover {
    border: 2px solid #7393a8;
    background: #7393a8;
    color: black;
    transition: 0.5s;
}

.btn-secondary {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 40px;
    font-size: 15px;
    background: transparent;
    position: relative;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
}

.btn-secondary:hover {
    border: 2px solid #ef6351;
    background: #ef6351;
    color: white;
    transition: 0.5s;
}


@media (max-width: 700px) {
    .text-block h1 {
        font-size: 36px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    background-color: white;
    
}

.heading {
    text-align: center;
    padding: 60px 0px 20px 0px;
    background: white;
}

.text-center {
    text-align: center;
}

.ad-banner {
    padding: 10px;
    text-align: center;
    background: transparent;
    position: relative;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

footer {
    background: #49111c;
    padding: 80px 0px;
    color: black;
}

.footer-menu {
    background-color: #d6ccc2;
    border: 1px solid black;
}

footer h3 {
    padding-bottom: 20px;
    text-align: center;
    font-weight: 1000;
}

.footer-menu li {
    list-style: none;
    padding: 10px 16px;
    position:relative;
    text-align: center;
    color: black;
}

.copyright {
    background: black;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

.inner-banner {
    width: 100%;
    min-height: 90vh;
    background: url("media/inner banner/j8.avif") no-repeat;
    background-size:cover;
    position: relative;
}

.inner-banner2 {
    width: 100%;
    min-height: 90vh;
    background: url("media/inner banner/j10.avif") no-repeat;
    background-size:cover;
    position: relative;
}

.inner-banner3 {
    width: 100%;
    min-height: 90vh;
    background: url("media/inner banner/j9.avif") no-repeat;
    background-size:cover;
    position: relative;
}

.inner-banner4 {
    width: 100%;
    min-height: 90vh;
    background: url("media/inner banner/j12.avif") no-repeat;
    background-size:cover;
    position: relative;
}

.inner-banner5 {
    width: 100%;
    min-height: 90vh;
    background: url("media/inner banner/j7.avif") no-repeat;
    background-size:cover;
    position: relative;
}

.inner-banner6 {
    width: 100%;
    min-height: 90vh;
    background: url("media/inner banner/j6.avif") no-repeat;
    background-size:cover;
    position: relative;
}

.p40 {
    padding: 40px 0px;
    text-align: center;
}

.sidebar {
    border-left: 1px #ccc solid;
    padding-left: 50px;
}

.blog-area {
    border-right: 1px #aaa solid;
}

.blog-item {
    padding-bottom: 50px;
}

.product_name {
    text-decoration:wavy;
    font-size: 18px;
}

.price {
    font-size: 21px;
    color: #49111c;
    background: transparent;
}

.btn-shop {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid #1f7a8c;
    padding: 12px 40px;
    font-size: 15px;
    background: #1f7a8c;
    position: relative;
    margin-top: 20px;
}

.btn-shop:hover {
    border: 2px solid #264025;
    background: white;
    color: #264025;
    transition: 0.5s;
}

.product_card:hover {
    border: 1px solid #ccc;
}

.contact-container {
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info {
    text-align: center;
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #343a40;
}

.contact-info p {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.6;
}

.info-list {
    list-style: none;
    padding: 0;
}

.info-list li {
    font-size: 1em;
    margin-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form h2 {
    font-size: 2.3em;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.contact-form h2::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #603808;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    border-radius: 5px;
}

.contact-form label {
    font-size: 1em;
    font-weight: bold;
}

.contact-form input, 
.contact-form textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form input:focus, 
.contact-form textarea:focus {
    border-color: #343a40;
    outline: none;
}

.contact-form button {
    padding: 15px;
    font-size: 1.2em;
    color: #fff;
    background-color: #343a40;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:focus {
    outline: none;
}

.contact-form button:hover {
    background-color: #212529;
    transform: scale(1.02)
}
